.wrapper {
    position: relative;
}

.question-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(211, 211, 211, 0.5);
}

.question-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    width: 32rem;
    min-height: 5rem;
    padding: 1rem;
    background: #565353;
    color: white;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
}
.question-close-button {
    display: block;
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.question {
    margin-bottom: 1rem;
}

.answer {
    margin-top: 1rem;
    color: white;
}

.question-grid {
    display: flex;
    flex: 1 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    width: 30%;
    margin: 1rem;
    height: 200px;
    background-color: cornflowerblue;
    box-sizing: border-box;
}

.tile.active {
    background-color: lightskyblue;
    box-shadow: 0 0 10px 1px lightskyblue;
}

.tile.answered {
    background-color: lightslategrey;
}

.spinner-container {
    flex: 1 100%;
    display: flex;
    justify-content: center;
}

.spinner {
    width: 15rem;
    height: 3rem;
    background-color: gold;
    font-size: 1.75rem;
}